jQuery ->
  $('body').prepend('<div id="fb-root"></div>')

  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true

appLogin = ->
  $.ajax
    url: '/auth/status'
    statusCode:
      401: ->
        window.location = '/auth/facebook/callback'

window.fbAsyncInit = ->
  FB.init(appId: '<%= OmniauthKey.instance[:facebook][:app_id] %>', cookie: true, xfbml: true)

  FB.Event.subscribe 'auth.authResponseChange', (response) ->
    switch response.status
      when 'connected' then appLogin()
      when 'not_authorized' then FB.login()
      else FB.login()

  $('#sign_out').click (e) ->
    FB.getLoginStatus (response) ->
      if response.authResponse
        FB.logout() 
        window.location = '/'
    true
